pypresence @ git+https://github.com/qwertyquerty/pypresence.git
winrt-Windows.Foundation.Collections
winrt-Windows.Storage.Streams
winrt-Windows.Media.Control
winrt-Windows.Foundation
yandex-music
winrt-Windows.Media
winrt-runtime
winrt-sdk
PyQt5
pywin32
pystray
psutil
colorama
packaging
requests
asyncio
keyring
Pillow
